[DEFAULT]
ip = 0.0.0.0
port = 8080
name = honeypot_1
debug = false

[ELASTICSEARCH]
enabled = false
host =
port =
index = log4shell
username = elastic
password =
pipeline = geoip
verify_certs = true

[JSONLogger]
enabled = true
file = log.json
