[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-ldap = "*"
elasticsearch = "*"
gunicorn = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
types-requests = "*"
pylint = "*"
pytest = "*"
python-language-server = "*"

[requires]
python_version = "3.9"
